
<footer class="bg-black text-gray-400">
  <div class="px-8 py-4 mx-auto max-w-7xl mt-10">
    <p class="mb-4 ">Questions? Call <span class="underline">000-800-919-1694</span></p>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 mb-4 mt-10">

      <div class="flex flex-col space-y-4">
        <a href="#" class="underline">FAQ</a>
        <a href="#" class="underline">Help Centre</a>
        <a href="#" class="underline">Account</a>
        <a href="#" class="underline">Media Centre</a>
      </div>

      <div class="flex flex-col space-y-4">
        <a href="#" class="underline">Investor Relations</a>
        <a href="#" class="underline">Jobs</a>
        <a href="#" class="underline">Ways to Watch</a>
        <a href="#" class="underline">Terms of Use</a>
      </div>

      <div class="flex flex-col space-y-4">
        <a href="#" class="underline">Privacy</a>
        <a href="#" class="underline">Cookie Preferences</a>
        <a href="#" class="underline">Corporate Information</a>
        <a href="#" class="underline">Contact Us</a>
      </div>

      <div class="flex flex-col space-y-4">
        <a href="#" class="underline">Speed Test</a>
        <a href="#" class="underline">Legal Notices</a>
        <a href="#" class="underline">Only on Netflix</a>
      </div>
    </div>
    <div class="mt-10  flex items-center space-x-4 mr-4 md:mr-16 lg:mr-32">
      <select class="dropdown text-white border border-white rounded p-2 bg-transparent">
        <option value="en" class="text-black">English</option>
        <option value="hi" class="text-black">Hindi</option>
      </select>
    </div>
    <p class="mt-10 mb-10">Netflix India</p>
  </div>
</footer>