.curved-background {
    position: relative;
    width: 100%;
    height: 200px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-left-radius: 50% 250px;
    border-top-right-radius: 50% 250px;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.curved-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50% 150px;
    border-top-right-radius: 50% 150px;
    border-top: 5px solid red;
    border-bottom: none;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 2;
    margin-top: -160px;
}

.curved-background {
    width: 150%;
    left: -25%;

}

.card {
    background: linear-gradient(to bottom right, #1e1535, #0a0612);
}

@media (max-width: 1024px) {
    .content-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ml-20,
    .ml-40,
    .mr-40 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 1.5rem;
    }

    select.dropdown {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .grid-cols-4 {
        grid-template-columns: 1fr;
    }

    .content-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    select.dropdown {
        width: 100%;
    }

    .card {
        padding: 10px;
    }

    .movie-carousel img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    .card {
        font-size: 0.8rem;
    }

    select.dropdown {
        width: 100%;
    }

    .movie-carousel img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}