.curved-background {
    position: relative;
    width: 100%;
    height: 200px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-left-radius: 50% 250px;
    border-top-right-radius: 50% 250px;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.curved-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50% 150px;
    border-top-right-radius: 50% 150px;
    border-top: 5px solid red;
    border-bottom: none;
    box-sizing: border-box;
    pointer-events: none;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 2;
    margin-top: -160px;
}

.curved-background {
    width: 150%;
    left: -25%;

}

.card {
    background: linear-gradient(to bottom right, #1e1535, #0a0612);
}