<header class="h-[68px] z-10 bg-gray-900 sticky top-0 flex items-center justify-between px-24">
    <div class="flex gap-10">
        <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg"
            alt="netflix-logo">
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-neutral-100 cursor-pointer text-lg font-extralight hover:text-gray-500 transition-[1s]">
                {{item}}</li>
        </ul>
    </div>
    <div class="text-white flex items-center gap-6">
        <div class="flex items-center gap-2">
            <a href="/"><span>Welcome <strong>{{name}}</strong></span></a>
            <img [src]="userImg" width="42" alt="userImg">
        </div>
        &nbsp; | &nbsp;
        <a href="/">Sign Out</a>
    </div>
</header>