<header class="h-[68px] z-10 bg-gray-900 sticky top-0 flex items-center justify-between px-10">
    <div class="flex gap-5">
        <img width="110" src="/assets/pngwing.png" alt="netflix-logo">
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-neutral-200 cursor-pointer text-sm font-extralight hover:text-gray-400 transition-[1s]">
                {{item}}</li>

        </ul>
    </div>
    <div class="text-white flex items-center gap-4">
        <div class="flex items-center gap-2">
            <a href="/"><span>Welcome <strong>Akhil</strong></span></a>
            <img [src]="userImg" width="42" alt="userImg">
        </div>
        &nbsp; | &nbsp;
        <a href="/">Sign Out</a>
    </div>
</header>