<div>
<h1>Trending Now</h1>
<div>
<select class="dropdown text-white border border-white rounded p-2 bg-transparent">
    <option value="en" class="text-black">India</option>
    <option value="hi" class="text-black">Global</option>
</select>
</div>
<div>
<select class="dropdown text-white border border-white rounded p-2 bg-transparent">
    <option value="en" class="text-black">Movies - English</option>
    <option value="hi" class="text-black">Movies - Other languages</option>
    <option value="hi" class="text-black">TV shows - English </option>
    <option value="hi" class="text-black">TV shows - Other languages</option>

</select>
</div>
</div>
<div>
<h1>More reasons to join</h1>
</div>