<div class="container">
  <h2 class="carousel-title">{{ title }}</h2>

  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <div *ngFor="let movie of videoContents" class="swiper-slide">
        <div class="movie-card" (mouseenter)="setHoverMovie(movie)" (mouseleave)="clearHoverMovie()">
          <img (click)="onImageClick(movie)" [src]="movie.poster_path | image" [alt]="movie.title || movie.name"
            class="movie-poster" />
          <div @fade *ngIf="(movie.title === this.selectedContent) || (movie.name === this.selectedContent)"
            class="movie-details">
            <h3 class="movie-title">{{ movie.original_title }}</h3>
            <p class="movie-overview">{{ movie.overview | description:100 }}</p>
            <div class="movie-rating">
              <span class="rating-value">Rating: {{ movie.vote_average }}</span>
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>