.container {
  overflow: hidden;
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.swiper-slide {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.desc {
  transition: all 300ms ease-in-out;
  background-color: #181818c4;
  height: 170px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.desc:hover {
  transition: all 300ms ease-in-out;
}

.desc.tv {
  height: 60px;
}

.swiper-slide img {
  border-radius: 5px;
  cursor: pointer;
  width: 300px !important;
  height: 300px !important;
  object-fit: cover;
}

.swiper-slide img:active {
  cursor: grabbing;
}

.swiper-slide:hover {
  transform: scale(1.5);
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
  z-index: 2;
}

.swiper-slide:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-container {
  overflow: hidden;
}