<div *ngIf="videoContent" class="container">

  <div class="title text-center mt-5">
    <h1>{{ videoContent.title }}</h1>
  </div>

  <ng-container *ngIf="videoUrl; else showImage">
    <iframe class="mt-10 mx-auto block" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </ng-container>

  <ng-template #showImage>
    <img class="mt-10 mx-auto block overflow-hidden" [src]="imageUrl" alt="{{ videoContent.title }}" />
  </ng-template>

  <div class="overview mx-auto mt-5 px-6">
    <h1 class="underline text-xl mb-2">Overview</h1>
    <p>{{ videoContent.overview }}</p>
  </div>

</div>