
<div *ngIf="videoContent" class="container">
  
  <div class="title">
    <h1>{{ videoContent.title }}</h1>
  </div>

  <ng-container *ngIf="videoUrl; else showImage">
    <iframe class="mt-10" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
  </ng-container>

 <ng-template #showImage>
    <img class="mt-10 ml-24" [src]="imageUrl" alt="{{ videoContent.title }}" />
  </ng-template>

  <div class="overview ml-24 mr-24">
    <h1 class="underline">Over view</h1>
    <p>{{ videoContent.overview }}</p>
  </div>
</div>