<div class="h-screen" [ngStyle]="{'background-image':'url(' + bgUrl + ')'}">
  <div class="gradient-overlay"></div>
  <div class="header">
    <img [src]="logUrl" alt="Netflix logo" />
  </div>
  <div class="login-container">
    <div class="login-card">
      <h2 class="heading">Sign In</h2>
      <div class="relative w-full md:w-full flex-shrink">
        <!-- Email Field -->
        <input type="email" placeholder=" "
          class="p-4 text-white bg-transparent rounded-md md:rounded-l-md w-full border border-gray-400 peer" />
        <label
          class="absolute left-4 top-4 text-gray-400 peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-focus:top-0 peer-focus:text-sm transition-all">
          Email or mobile number
        </label>
      </div>
      <!-- Password Field -->
      <div class="relative w-full md:w-full flex-shrink mt-6">
        <input type="password" placeholder=" "
          class="p-4 text-white bg-transparent rounded-md md:rounded-l-md w-full border border-gray-400 peer" />
        <label
          class="absolute left-4 top-4 text-gray-400 peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-focus:top-0 peer-focus:text-sm transition-all">
          Password
        </label>
      </div>
      <div class="action-field">
        <button class="login-btn">Sign In</button>
      </div>
      <p class="text-center mt-5">OR</p>
      <div class="action-field mt-5">
        <div id="google-btn" class="google-btn">
          <!-- Add your Google button content here -->
          <button class="login-btn google-login-btn">Sign in with Google</button>
        </div>
      </div>
      <div class="text-center mt-5">
        <h1 class="hover:underline">Forgot password?</h1>
      </div>
      <div class="signup-info mt-5">
        <input type="checkbox" id="signup-checkbox" class="checkbox-large" />
        <label for="signup-checkbox" class="ml-2">Remember me</label>
      </div>      
      <div class="mt-5">
        <h1>New to Netflix? <span class="hover:underline">Sign up now.</span></h1>
      </div>
      <div class="mt-5 text-gray-500 text-xs">
        <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#" class="underline">Learn more</a>.</p>
      </div>
      
    </div>
  </div>
</div>
<app-footer></app-footer>