<div class="relative bg-black h-screen">
    <div class="absolute top-0 left-0 w-full h-full">
        <div class="gradient-overlay absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black via-black/40 to-black"></div>
        <img src="https://assets.nflxext.com/ffe/siteui/vlv3/04bef84d-51f6-401e-9b8e-4a521cbce3c5/null/IN-en-20240903-TRIFECTA-perspective_0d3aac9c-578f-4e3c-8aa8-bbf4a392269b_large.jpg" alt="" class="w-full h-full object-cover">
    </div>

    <div class="absolute w-full flex justify-between items-center ">
        <div class="logo-container ml-6 md:ml-16 lg:ml-32">
            <img src="https://cdn.cookielaw.org/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png" alt="Netflix Logo" class="w-32 md:w-40 lg:w-56 h-auto">
        </div>
        
        <div class="flex items-center space-x-4 mr-4 md:mr-16 lg:mr-32">
            <select class="dropdown text-white border border-white rounded p-2 bg-transparent">
                <option value="en" class="text-black">English</option>
                <option value="hi" class="text-black">Hindi</option>
            </select>

            <button class="bg-red-600 text-white py-2 px-4 rounded flex-shrink-0" (click)="goToLogin()">Sign In</button>
        </div>
    </div>

    <div class="content-container w-full md:w-7/12 lg:w-5/12 absolute right-0 left-0 p-6 md:p-8 lg:p-10 top-1/4 mx-auto text-white rounded-lg bg-opacity-80 text-center">
        <h1 class="font-bold text-4xl md:text-5xl lg:text-6xl py-2">Unlimited movies, TV shows and more</h1>
        <p class="font-bold text-lg md:text-2xl py-2">Starts at ₹149. Cancel anytime.</p>
        <p class="font-bold text-sm md:text-lg py-2">Ready to watch? Enter your email to create or restart your membership.</p>

        <div class="relative flex flex-col md:flex-row justify-center items-center md:space-x-4 mt-4">
            <div class="relative w-full md:w-2/3 flex-shrink">
                <input type="email" placeholder=" " class="p-3 md:p-4 text-white bg-transparent rounded-md md:rounded-l-md w-full border border-gray-400 peer">
                <label class="absolute left-3 top-4 text-gray-400 peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-focus:top-0 peer-focus:text-sm transition-all">Email address</label>
            </div>
            <button class="bg-red-600 font-bold text-sm md:text-lg text-white px-3 py-2 md:px-4 md:py-3 rounded-md md:rounded-r-md mt-4 md:mt-0 flex-shrink-0 flex items-center justify-center whitespace-nowrap">Get Started <span class="text-lg md:text-xl ml-1"> &gt;</span></button>
        </div>
    </div>
</div>

<app-faq></app-faq>
<app-footer></app-footer>
